[2018-11-20 14:33] litzenberger opened #8 "Readme usage example not correct"
The usage example in the Readme complains about required() has to be under prop.

[code]

Works when I change it to:
[code]

[2018-11-21 21:17] aboutlo commented on #8
You are right the example has to be updated

[2018-11-21 22:52] aboutlo commented on #8
tks @litzenberger!

[2018-11-21 22:52] #8 closed

[2018-11-28 08:46] cemremengu opened #10 "`yarn.lock` should be ignored"

[2018-11-28 14:48] cemremengu commented on #10
`.nvmrc` too I think

[2018-11-28 23:01] aboutlo commented on #10
@cemremengu Should I then ignore as well those file too?
- yarn.lock
- .editorconfig
- .gitignore
- .npmignore
- .nvmrc
- .prettierrc
- .travis.yml

[2018-11-28 23:16] cemremengu commented on #10
The listings in `.gitignore` file should be enough (npm will also use it so no need for an `.npmignore` file) just add `.nvmrc` and `.yarn.lock` to it. Also you should delete the files from the repo as well

[2018-11-28 23:40] aboutlo commented on #10
🤔I see, I guess I misunderstood your suggestion. Let me clarify
`.nvmrc` is useful to keep in the repo in order to enforce the default node version if someone is working on it.
`yarn.lock` is required in the repo for dev dependencies
So, to me, the best way it's adding both of them in the `.npmignore`. TBH Not sure it worth to avoid this two files being published

[2018-11-28 23:59] cemremengu commented on #10
I think `.nvmrc` and `.lock` files are more suitable for applications rather than libraries. When making the suggestion my motivation was actually to have a similar structure as other plugins in the organization for consistency however the decision is yours to make :)

[2018-11-29 15:17] aboutlo commented on #10
@mcollina I saw you have approved my PR but after the chat with @cemremengu I'm not sure it's anymore aligned. Maybe you have a different perspective on this one

[2018-11-29 15:22] mcollina commented on #10
Either it's fine. It depends on what you prefer to do. We gitignore `yarn.lock` and `package-lock.json` in all of the other repos of this orgs. Mainly because it complicates maintenance over time, and it prevent certain problems for being exposes. lock files are great for apps, not so much for modules and libraries.

[2018-11-29 15:33] mcollina commented on #10
Yes, I prefer things to fail for modules. Otherwise you may not see that your module is broken when installed, due to an updated dependency.

(this is more philosophical in fact, this module has no dependencies - kind of the reason why I didn’t say anything in the beginning)

[2018-12-04 15:34] aboutlo opened #12 "Support not json data"
https://json-schema.org/latest/json-schema-validation.html#rfc.section.8

**Example**
[code]

[2018-12-12 22:13] aboutlo commented on #10
fixed by https://github.com/fastify/fluent-schema/commit/8ea582fbc3dc8370a007f872fef6632059bf1a14

[2018-12-12 22:13] #10 closed

[2018-12-12 22:14] aboutlo opened #13 "Add typescript types"
create a @types/fluent-schema

[2018-12-12 23:00] mcollina commented on #13
We prefer to ship them in the project, it’s kind of better for compatibility reason.

[2018-12-12 23:02] aboutlo commented on #13
Cool, I was looking in the fastify project and I noticed that. However, thanks for the heads-up :)

[2018-12-13 16:34] jnv opened #16 "Allow using non-standard formats"
The `format` method checks if the passed format is supported by the specification. However, validator can support custom, non-standard formats, for example Ajv has [addFormat](https://ajv.js.org/#api-addformat) method. Would it be possible to allow passing non-standard format?

To maintain current behavior, perhaps it could be a different method, for example:

[code]

[2018-12-13 22:50] mcollina commented on #16
IMHO it’s a bad idea, but a lot of people ask/need this. Providing some sort of escape hatch to add this would be good to accept as a PR.

[2018-12-14 06:37] jnv commented on #16
The spec [says](https://json-schema.org/latest/json-schema-validation.html#rfc.section.7.2):

In our case this is useful for reducing boilerplate in schemas within a shared domain. It is more readable to specify a semantic format rather than to repeat `pattern` everywhere.

I will be happy to submit a MR if you specify how the API should look.
Beside an additional method, perhaps one could pass an

[2018-12-14 09:31] aboutlo commented on #16
I don't like to add a `customFormat` method but following @jnv idea we could pass an array e.g. `extraFormats` as option something like that:

[code]

In the JSDoc of the format method, we could add the above example

Then in the format implementation, we can merge `FORMATS` and `extraFormats` to check that the format is supported.

Name wise I don't like too much `extraFormats` or `customFormats`

[2018-12-21 17:30] aboutlo opened #18 "anyOf, allOf, oneOf don't support an array of FluentSchema"
it's currently failing
[code]

[2018-12-21 17:44] #13 closed

[2018-12-21 17:44] #12 closed

[2018-12-21 17:50] aboutlo opened #19 "Support required of a nested FluentSchema"
I think is more idiomatic to declare `required` directly in the FluentSchema related to a nested prop

currently

[code]
then

[code]

[2018-12-21 18:30] mcollina commented on #19
I agree! I proposed this in the initial design!

[2018-12-21 18:53] aboutlo commented on #19
Haha 🤣 I’m stubborn. By the way I want both because with simple use cases
I prefer the current API

On Fri, 21 Dec 2018 at 18:30, Matteo Collina <notifications@github.com>
wrote:

--
Sent from mobile phone

[2018-12-22 15:42] #18 closed

[2018-12-26 18:04] aboutlo opened #22 "Differentiate schemas by type"
it's a large refactoring in order to move toward 1.0

Create:
- [ ] BaseSchema (id, title, example, required, etc.)
- [ ] StringSchema (format, pattern, etc)
- [ ] ArraySchema (items, etc)
- [ ] ObjectSchema (properties, etc)
- [ ] NumberSchema (min, max, etc)
- [ ] IntegerSchema (min, max, etc)
- [ ] BooleanSchema
- [ ] Refactor Typescript types

New syntax

[code]

it wont hint for wrong types l

[2018-12-26 23:14] Eomm opened #23 "not() remove all types"
## 🐛 Bug Report

Hi, I'm trying this lib to put more "fluent" 😁 examples on fastify's documentation.

Testing the `not` condition I found an unexpected behaviour during the generation of the schema with `not()` function, where the before `one/any/all of` lose the array of types.

I has also check the [spec of not](http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.7.4) and cou

[2018-12-27 03:57] mcollina commented on #22
+1, I like this.

[2018-12-27 18:37] aboutlo commented on #22
I found a possible breaking change while I'm working on the refactoring.

[code]

it will fail with:

`TypeError: FluentSchema(...).prop(...).asString(...).pattern(...).prop is not a function`

because `.pattern` returns a StringSchema which hasn't a prop.
I will open a WIP as soon as I have a draft

[2018-12-29 11:06] aboutlo commented on #19
https://github.com/fastify/fluent-schema/releases/tag/v0.5.0

[2018-12-29 11:06] #19 closed

[2019-01-02 23:52] aboutlo commented on #23
This is passing in the `WIP: Extract typed schema` #24:
[code]

[2019-01-04 21:45] Eomm commented on #23
I read the PR and you are doing a great job!
This lib will be even smoother 👏

[2019-02-01 21:28] aboutlo opened #25 "Add `writeOnly` & `readOnly`"
Currently,  `writeOnly` & `readOnly` attributes are not supported.
https://json-schema.org/draft-07/json-schema-validation.html#rfc.section.10.3

They should be added in the BaseSchema and in the general Typescript definition

[2019-02-01 22:06] aboutlo commented on #23
fixed with https://github.com/fastify/fluent-schema/releases/tag/v0.6.0

[2019-02-01 22:06] #23 closed

[2019-02-01 22:07] aboutlo commented on #22
fixed with https://github.com/fastify/fluent-schema/releases/tag/v0.6.0

[2019-02-01 22:07] #22 closed

[2019-02-01 22:20] aboutlo opened #26 "Typescript reserved words"
In the Typescript definition:
- [ ] `enum` is a reserved word we could use `enums` https://github.com/fastify/fluent-schema/blob/d3e56231170728e89cabc4be12ca3bdf736c3c38/src/FluentSchema.d.ts#L135
- [ ] `null` is  a reserved word we could use `nul` https://github.com/fastify/fluent-schema/blob/d3e56231170728e89cabc4be12ca3bdf736c3c38/src/FluentSchema.d.ts#L150
- [ ] `const` is a reserved word we c

[2019-02-06 20:40] aboutlo opened #28 "Coverage badge broken"
https://coveralls.io/github/fastify/fluent-schema?branch=master doesn't return the coverage.
@mcollina it seems to me this is related to how fastify is handled by coveralls.io but I'm not sure

[2019-02-06 20:53] mcollina commented on #28
I can't really add/configure this. coveralls is totally broken for me as I have too many repos.

[2019-02-06 20:56] aboutlo commented on #28
http://docs.coveralls.io/troubleshooting

it could be that the case?  or someone else from fastify can help on that. No rush I think it's nice to have

[2019-02-26 20:13] Eomm opened #29 "Node 6 support"
Hi,
adding some test to verify the usage of fluent-schema with fastify, I found fluent-schema doesn't work with node.js 6.x. Since it is supported by fastify v2, it would be great to support it too.

Here https://github.com/fastify/fastify/pull/1485#issuecomment-467588781 more details with CI failure.

I test it also locally and I get the same behaviour with node.js 6 and 7:

![image](https://user

[2019-02-26 23:19] aboutlo commented on #29
You are right fluent-schema doesn't work with node 6.
The node 6 LTS end-of-life is 2019-04-01 because of that I decided to not support node 6
https://nodejs.org/en/about/releases/

[2019-02-27 07:59] Eomm commented on #29
Ok, and it is also written but I didn't check the engine prop also:
https://github.com/fastify/fluent-schema/blob/7078f8b74b4e8fb3a29ec1f84ac85c275de96013/package.json#L30

My fault 🙌

[2019-02-27 07:59] #29 closed

[2019-03-10 02:45] bryanjhv opened #31 "Chain call order"
Let's take this simple example:

[code]

From what I understand, it should print the schema on the command line. What it currently does is:

[code]

However, if I move the `.required()` call to the end of the prop definition, it works as expected.

[2019-03-10 18:22] aboutlo commented on #31
Thank you for report this @bryanjhv.  I can reproduce the problem.
It seems my test case was too simple: https://github.com/fastify/fluent-schema/blob/d3e56231170728e89cabc4be12ca3bdf736c3c38/src/BaseSchema.test.js#L125-L132
I will have a look

[2019-03-10 19:12] aboutlo commented on #31
fixed in v0.6.2

[2019-03-10 19:12] #31 closed

[2019-03-10 22:55] bryanjhv commented on #31
Thanks! It is fixed now.

[2019-04-10 12:10] aboutlo opened #34 "ifThen, else declarations are missing in the FluentSchema.d.ts"
missing declarations:
- ifThen
- else
https://github.com/fastify/fluent-schema/blob/master/src/FluentSchema.d.ts#L2-L14

[2019-04-24 12:30] aboutlo opened #35 "S.string().pattern() should accept regex and string"
Currently TS types are wrong for S.string().pattern() it should accept string | Regex

[2019-05-01 08:57] #35 closed

[2019-05-01 08:57] #34 closed

[2019-05-28 19:56] aboutlo commented on #25
WIP: https://github.com/fastify/fluent-schema/pull/37

[2019-05-28 21:32] aboutlo commented on #25
merged: https://github.com/fastify/fluent-schema/pull/37

[2019-05-28 21:32] #25 closed

[2019-07-31 12:13] jsumners opened #39 "Symbol isn't being attached"
https://runkit.com/embed/jngz13x7dgdl

[code]

Results in `false` being logged.

[2019-07-31 12:13] #39 closed

[2019-07-31 12:13] jsumners commented on #39
Forgot to remove the `.valueOf`. Ignore this.

[2019-08-09 19:31] jsumners opened #41 "Question: how to implement a basic object schema?"
Basically, I want to implement this test with `fluent-schema` -- https://github.com/fastify/fast-json-stringify/blob/06acd3bf09a6c0136eb442d0d95e2a5b1fd85cf2/test/additionalProperties.test.js#L68-L79

My attempt keeps resulting in various errors -- https://runkit.com/embed/ep1pfme4238t

[code]

[2019-08-09 21:06] aboutlo commented on #41
I don't know how it works fastJson in details but I have the feeling the issue could be there

to me
[code]

become

[code]

which will generate
[code]

I wonder about `additionalProperties: true` it isn't required to be set as `true` because by default a schema accepts an object with extra props. `additionalProperties: true` will be translated as additionalProperties: {}

So either you set to `fa

[2019-08-09 22:55] jsumners commented on #41
Without `additionalProperties:true` fast-json-stringify will strip properties that are explicitly stated in the schema.

[2019-08-12 11:13] aboutlo commented on #41
So looking to the reference:
https://json-schema.org/latest/json-schema-validation.html#rfc.section.6.5.6

So the bug is here: https://github.com/fastify/fluent-schema/blob/73adbf43075104d5ac05a874313fd7dbbda72474/src/ObjectSchema.js#L52-L52

we should need something like this:
[code]

[2019-08-12 11:37] jsumners commented on #41
FYI: re-reading this issue this morning I noticed that I left out a "not" in my last reply. Please re-read it to make sure it still makes sense.

[2019-08-12 12:20] aboutlo commented on #41
Still, a bug in fluent because of the spec

given
[code]

expect:

[code]

rather than:
[code]

However, `additionalProperties: {}` is valid it means don't strip
I found somewhere else where they are discussing the same topic: https://github.com/OAI/OpenAPI-Specification/issues/668#issuecomment-280377470

[2019-08-15 11:38] gjovanov opened #42 "Conditial required"
How to achive conditional required e.g. for Email JSON object:

Either prop Body needs to be defined or Template and Model props need to be defined?

Something amoung these lines:
[code]

Is there a way to achive this.

Thanks.

[2019-08-15 12:27] mcollina commented on #42
What would be the generated JSON schema for this option?

[2019-08-15 13:40] gjovanov commented on #42
Based on:

https://stackoverflow.com/questions/38717933/jsonschema-attribute-conditionally-required

With enums and Discriminator field it could look something among this lines:

[code]

There is also an option with if-then-else but that seems to be still in Draft status.

[2019-08-15 17:18] aboutlo commented on #42
Here an example of `anyOf` usage: https://github.com/fastify/fluent-schema/blob/master/src/FluentSchema.integration.test.js#L225

[2019-08-16 09:36] gjovanov commented on #42
Tnx @aboutlo . I think this would work:
[code]

@mcollina - the idea of this Email sending API is to be able to call the API for sending email either by:
a) passing Body of the email message as HTML
or
b) telling the API to use some **template by name** and pass a **model object** (key value pairs) that would use an existing Handlebar template with that that template name and pass the key value pa

[2019-08-16 09:37] #42 closed

[2019-08-26 15:50] aboutlo commented on #41
PR merged

[2019-08-26 15:50] #41 closed

[2019-08-27 09:06] gjovanov opened #45 "Nullable Prop with complex object fails when value is null"
Hi there,
I'm not sure if this is a bug or a feature, but we have a property of a complext JSON type that can be null. And in the case that prop is null, the serializer throws an error:

[code]

This is the model:

[code]

Do you have any suggestion to support nullable props with complex JSON objects?
Thanks.

/GJ

[2019-08-27 09:11] mcollina commented on #45
This is likely a bug of fast-json-stringify.

Il giorno mar 27 ago 2019 alle 11:06 Goran Jovanov <notifications@github.com>
ha scritto:

[2019-08-27 20:43] Eomm commented on #45
@gjovanov could you try this setup?

[code]

[2019-08-28 07:08] gjovanov commented on #45
Thanks for the suggestion @Eomm . I just tried it, but it didn't work. This is the error being thrown:

[code]

Only this is allowed:
`.prop('room', S.mixed([S.TYPES.OBJECT, S.TYPES.NULL]))`

But it has some side-effects like missing room props later.

[2019-09-07 16:50] aboutlo commented on #45
I think the `room` property should be marked as required.

[code]

[2019-09-07 17:31] aboutlo opened #46 "Compose schemas"
## Compose schemas

Extend JSON schemas isn't simple. A way is using `allOf` pointing to another schema

e.g.
[code]
This works fine.
Instead, if the base uses `additionalProperties:false` there is an issue.

[code]

 in that case, the validator will reject the object {foo: 'foo', bar: 'bar'} because `bar` is an extra property for the base schema.

## Motivation

We could implement the composition

[2019-09-08 13:35] gjovanov commented on #45
It made sense your proposal since null value means no value set by the user, whereat undefined means initialized but no value has been assigned yet. Hence I was eager to try out your suggestion, however I'm still getting the same error:

[code]

Not sure how come your tests are passing. It seems to be related to fast-json-stringify.

[2019-09-08 13:38] mcollina commented on #45
As I've said in https://github.com/fastify/fluent-schema/issues/45#issuecomment-525214037, this is likely a bug in fast-json-stringify and not this library.

[2019-10-31 17:03] halex2005 opened #49 "JSON Schema Draft 8 implementation"
Hi!
There is new JSON Schema draft available here: http://json-schema.org/specification-links.html#2019-09-formerly-known-as-draft-8
Does this library needs changes?
Actually, I don't read this draft yet. May be someone tell: does this library already implements new draft or it needs some changes?

I suggest you create roadmap for the changes, if necessary.
It could help the community to focus wha

[2019-10-31 17:47] Eomm commented on #49
Thanks for the advice

There are a couple of things that are really breaking changes like:

-  "definitions" renamed to "$defs"
- "dependencies" renamed to "dependentRequired"

Plus new keywords

Help is always appreciate 💪🏻

// cc @mcollina per fast-json-stringify

[2019-11-01 10:02] aboutlo commented on #49
good point @halex2005 IMO until we don't have a validator eg. AJV there isn't too much value.
On the other hand in order to support draft 7 and draft 8 we need to rework the implementation and polishing the tests to make clear what we support on each version.

They are talking here as well: https://github.com/epoberezkin/ajv/issues/1082

[2019-11-14 14:05] Eomm opened #50 "ifThenElse block prop chain"
###  🐛 Bug Report

Hi, little issue with `ifThenElse` chaining.

The stacktrace:
[code]

## To Reproduce

If I move the `token` prop before the `ifThenElse` all works

[code]

## Expected behavior

After the `ifThenElse` I should be able to add other `.prop`

[2019-11-15 07:50] firasdib opened #51 "Using custom keywords?"
AJV has support to add custom keywords, but I don't see any way of using these with fluent schema.

AJV will accept this:

[code]

but I have no idea how to do something like this in fluent-schema, if its even possible.

[2019-11-15 11:57] aboutlo commented on #51
fluent-schema doesn't support custom AJV keywords.  we had a similar discussion here: https://github.com/fastify/fluent-schema/issues/16

To be fair, I'm not sure if it's a good idea to add not standard keywords related to a specific validator (e.g. AJV).

Regardless can you give an example of API that would you like to use

[2019-11-15 12:00] #45 closed

[2019-11-18 07:56] firasdib commented on #51
@aboutlo Okay. I wanted to add a specific type/keyword to be able to manipulate the data to my needs in a generic way.

[2019-11-18 16:42] Eomm opened #53 "sugar feature: string length"
## 🚀 Feature Proposal

Add a `.length(24)` method as a shortcut for min + max length.

## Motivation

Right now to add a check for a string I need to write:

[code]

## Example

[code]

WDYT?

[2019-11-20 10:20] aboutlo commented on #53
I like the idea of having shortcuts. However, diverging from the JSON Schema API could bring issues in the future.
What if `length` would be added in the spec with a different meaning?
As well the saving or the productivity boost isn't that much.

Maybe you could have a shortcut definition for your usecase
[code]

[2019-11-20 13:35] aboutlo commented on #51
maybe we could think something like that.

[code]

//cc @mcollina @Eomm

[2019-11-21 22:22] #50 closed

[2019-11-22 20:48] Eomm commented on #51
Is `S.raw` a type or could be attached like prop?
[code]

And the input could be:
- a json => an will be that will be spread
- a string/bool/num => and will be used as value
?

[2019-11-22 21:44] aboutlo commented on #51
I imagined as a type in order to accept an arbitrary valid JSON.
In your example I don't get the benefit. it could be `S.definition(S.raw({ foo: 'bar'}))`

[2019-11-23 09:49] #46 closed

[2019-12-07 10:13] firasdib commented on #51
Unless I've missed something, adding support for this would allow us to use the `nullable` feature in AJV/OpenAPI, which I currently don't think is possible with fluent schema.

[2019-12-07 15:21] aboutlo commented on #51
Yes, any feature outside JSON Schema spec isn't currently supported

[2019-12-07 15:36] aboutlo opened #55 "add S.raw"
## 🚀 Allow injecting a raw JSON directly in fluent-schema

## Motivation
A few users asked:
- add custom implementation related to AJV or other JSON Schema validation tools.
- inherited schema from a JSON schema and not our wrapper

ref. #51 #16 #47

## Examples
[code]

[code]

[code]

In order to implement that we need to implement a parser to build the fluent-schema internal data structure based

[2019-12-07 15:37] aboutlo commented on #51
Moved the conversation here: https://github.com/fastify/fluent-schema/issues/55

[2019-12-07 15:37] #51 closed

[2019-12-07 15:37] aboutlo commented on #16
Moved the discussion here: https://github.com/fastify/fluent-schema/issues/55

[2019-12-07 15:37] #16 closed

[2019-12-07 20:40] jnv commented on #16
Thanks @aboutlo, support for raw JSON injection is quite a good compromise.

[2019-12-19 14:51] firasdib commented on #55
We currently use fastify with fluent schema which works well, but we've hit a snag with the openapi spec that we try to generate from the json schema, when it comes to null values. If we want to return say a string or null, we have to do something along the lines of `S.anyOf([S.string(), S.null()])` which generates the following openapi spec:

[code]

This is unfortunately invalid. Instead, we sho

[2019-12-19 23:32] aboutlo commented on #55
Rather than use `S.anyOf([S.string(), S.null()])`
We could have:

[code]

But then if you are using `AJV` to validate you will face other issues: https://github.com/epoberezkin/ajv/issues/486

As you said, currently, there are discrepancies between Swagger and JSON Schema draft 7.
AFAIU the JSON Schema 2019-09 could fix your issue but the environment is changing: https://phil.tech/2019/09/07/updat

[2019-12-22 01:35] firasdib commented on #55
According to the AJV docs they should have support for `nullable`.

Yes, I have the same goal as you.

[2020-01-10 20:28] chengluyu opened #57 "Confusing documentation about `required`"
None of the issue template is about documentation, so I opened a blank issue.

In fastify docs (https://github.com/fastify/fastify/blame/master/docs/Fluent-Schema.md#L79), `required` is called after `prop` was called (e.g. `S.object().prop('x', S.string()).required()`).

In fluent-schema's docs, `required` is called either inside of `prop` (e.g. `S.object().prop('x', S.string().required())`) or ou

[2020-01-11 14:15] aboutlo commented on #57
The idea is to let the user pick what approach they prefer.

Currently, the doc of `required` can be found here:  https://github.com/fastify/fluent-schema/blob/master/docs/API.md#required

If something is missing, please open a PR to improve the js doc.

Generally speaking, I'm not happy with the documentation template.  Any help on this topic would be appreciated.

[2020-01-12 10:04] chengluyu commented on #57
Sorry! I didn't read README thoroughly. But IMHO the link [here](https://github.com/fastify/fluent-schema#documentation) is somewhat inconspicuous. Also, I found a typo in the doc. Here is the PR: #58 .

[2020-01-12 13:59] aboutlo commented on #57
thank you @chengluyu !

[2020-01-12 13:59] #57 closed

[2020-01-24 21:28] #55 closed

[2020-01-24 21:29] #53 closed

[2020-02-05 13:49] javi11 opened #59 "Typings Intellisense only works if lib is import with ."
##  🐛 Bug Report

The autocomplete from the typings only works if the library is imported with .default

## To Reproduce

Steps to reproduce the behavior:

Paste your code here:

// This way autocompleted is working but the execution do not work.
[code]

// This way autocompleted is not working but the execution works.
[code]

## Expected behavior

On import fluent-schema without default autocompl

[2020-02-11 15:00] greenkeeper[bot] opened #60 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2020-03-05 16:03] Eomm opened #61 "IfThen with constant"
## 💬 Questions and Help

I don't find if it is possible to write this json schema:

[code]

I'm trying the code:

[code]

But I get:

[code]

or

[code]

Should I use `S.raw`?

[2020-03-06 22:06] aboutlo commented on #61
Actually I found how to do it:

[code]

output

[code]

[2020-03-07 05:30] Eomm commented on #61
Great! Thank you!

[2020-03-16 15:02] NeoTech opened #62 "Unexpected typing error in typescript."
#20  🐛 Bug Report

Using the the code below i ran into an unexpected error thrown from the typescript compiler.

## To Reproduce

Steps to reproduce the behavior:

Paste your code here:

[code]

## Expected behavior
I expect no errors to be reported back from the type script compiler.

Paste the results here:

[code]

## Your Environment

- *node version*: 12.16.1
- *os*: Linux
- *tsc version:*: 3

[2020-03-16 15:03] NeoTech commented on #62
Also changing the imports to this style
`import S from 'fluent-schema'`

Generates a .js file with this error.
[code]
Which might not be related at all.

[2020-03-16 16:10] mcollina commented on #62
What's yours tsconfig?

[2020-03-16 16:10] mcollina commented on #62
https://github.com/fastify/fluent-schema/blob/master/src/types/tsconfig.json this is ours.

[2020-03-16 22:18] kacepe commented on #62
If you add `compilerOptions.esModuleInterop: true` to your tsconfig it should be fixed but it also might broke other stuff so workaround for it is `const S = require('fluent-schema')`

[2020-03-17 10:37] NeoTech commented on #62
The tsconfig looked like this
[code]

But it seems like the FluentSchema.d.ts file exports the default namespace but the code itself doesn't really support the use of that, so the workaround was to use interop together with 'allowSyntheticDefaultImports" set to true will allow it for functioning atm.

But funny bit is that interop should turn on the allow synthetics by default.

Using "const S = r

[2020-04-25 17:45] #62 closed

[2020-04-25 17:45] #61 closed

[2020-04-25 17:45] #59 closed

[2020-04-30 09:44] jmav opened #65 "Extend schema does not extend properties, but overrides them"
Following example will override `title` attribute because prop in NEW_SCHEMA is overriding one from SCHEMA_BASE.

## To Reproduce

[code]

## Expected behavior

Props should be extended with with only changed attributes.

## Environment
- *node version*: 10
- *fastify version*: >=2.0.0
- *os*: Mac

[2020-05-01 13:52] satazor opened #67 "Links to https://json-schema.org in the full API docs are broken"
## 🐛 Bug Report

Links to https://json-schema.org in the full API docs are broken.

<img width="869" alt="Screenshot 2020-05-01 at 14 51 24" src="https://user-images.githubusercontent.com/1017236/80810202-3c000180-8bbb-11ea-87ad-3a31969aac8d.png">

I believe the it should be `[reference](link)`.

## To Reproduce

Click in any link pointing to the JSON Schema reference.

## Expected behavior

Links

[2020-05-01 13:58] mcollina commented on #67
Would you mind to send a PR to fix? Thanks!

[2020-05-02 01:42] satazor commented on #67
Will do!

[2020-05-02 02:24] satazor commented on #67
@mcollina here it is: https://github.com/fastify/fluent-schema/pull/68

[2020-05-05 20:10] #67 closed

[2020-05-17 16:20] #65 closed

[2020-05-19 20:52] grangerjs opened #72 "Failed Building Schema: Cannot use 'in' operator to search for 'maxProperties' in true"
Forgive me for posting this question in issues; I was unable to access the Gitter channel for Fastify.

I'm experiencing an issue when I attempt to generate a `200` response schema using `fluent-schema` for a `GET` endpoint in my app. When I wrote the schema using regular JSON schema, it worked just fine. This is what I had before:

[code]

After a teammate transitioned to using `fluent-schema` fo

[2020-05-19 21:29] aboutlo commented on #72
What is `statusOptions`?

[code]

This schema output:

[code]

[2020-05-19 22:22] grangerjs commented on #72
Very sorry for leaving that out! This is what I am using for `statusOptions`:

[code]

[2020-05-20 06:32] Eomm commented on #72
I think this is the issue:

[code]

you should write it like this:

[code]
since the HTTP status is a fastify option and don't need to be inside the json schema

[2020-05-20 07:55] aboutlo commented on #72
As for above, I don't see an issue with fluent-schema.
I would investigate in your controller where you are using the schemas. Maybe try to remove them and add one at the time so you can isolate the part that is failing

[2020-05-20 14:21] grangerjs commented on #72
@Eomm you're exactly right, that was the issue! Thanks so much. I thought for sure I tried that but apparently not. Thank you @Eomm and @aboutlo for your quick feedback!

[2020-05-20 14:21] #72 closed

[2020-05-28 21:07] kieranczer opened #73 "v1.0.2 breaks required properties array when extend is used"
## 💥 Regression Report

Version 1.0.2 breaks the required properties array merge when extending a schema from another.

## Last working version

Worked up to version: 1.0.1

Stopped working in version: 1.0.2

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

In version 1.0.1 the required properties array in the json schema is produced correctly:

[code]

In version 1

[2020-05-28 21:26] aboutlo commented on #73
Thank you @kieranczer to report this, yes is related to #69.
And if you have time to look in this would be cool :)

[2020-06-02 21:08] aboutlo commented on #73
Resolved with #74

[2020-06-02 21:08] #73 closed

[2020-06-03 13:56] aboutlo commented on #49
A more updated issue on AJV side: https://github.com/ajv-validator/ajv/issues/1198

[2020-06-03 14:06] mcollina commented on #49
fast-json-stringify does not implement the latest draft.

[2020-06-18 11:20] dfee opened #75 "Hack workaround for multiple-extend"
## 🐛 Bug Report

multiple extend was broken here: https://github.com/fastify/fluent-schema/pull/69
it was sort of fixed here: https://github.com/fastify/fluent-schema/pull/74

however, the result is the hack function below to extend multiple times:
[code]

## To Reproduce
[code]

[code]

## Expected behavior

`extend` shouldn't be excluded from the return value here: https://github.com/fastify/flu

[2020-06-18 11:22] dfee commented on #75
Also, it's unclear what this means:

from https://github.com/fastify/fluent-schema/pull/69#issue-415436305

What is the incorrect usage?

[2020-06-18 16:34] aboutlo commented on #75
[code]
the fact that you first `extend` then you add the `prop` it could easily create confusion.

On the other hand, this is a fair case
[code]

[2020-06-19 07:19] dfee commented on #75
Looks good! Any plan on merge / release?

[2020-06-20 13:28] aboutlo commented on #75
v1.0.4 has been. published

[2020-06-20 13:28] #75 closed

[2020-07-29 08:36] caryhgq opened #77 "How to verify the file upload field?"
## Current Problem
[code]
[code]

## Expected behavior
How should I correctly verify the uploaded file?

Refer to the Swagger documentation for the above
https://swagger.io/docs/specification/describing-request-body/file-upload/?sbsearch=file
## Environment

- *node version*: v12.18.0
- *fastify version*: >=3.1.1
- *os*:  Windows
- *fluent-schema version*: >=1.0.4

[2020-07-29 08:39] aboutlo commented on #77
Please add  the output of the schema from  `upLoadBodySchema. valueOf()`

[2020-07-29 08:39] #60 closed

[2020-07-29 13:39] caryhgq commented on #77
@aboutlo
{
  '$schema': 'http://json-schema.org/draft-07/schema#',
  type: 'object',
  properties: {
    fileName: { type: 'string'},
    file: { type: 'string' }
  },
  required: [ 'file' ]
}

[2020-07-29 13:58] aboutlo commented on #77
but the `format: "binary"` is missing despite fastify is throwing an error about it 🤔

I double-checked the actual output is:
[code]

which is correct. So the issue isn't in `fluent-schema`
I found this here: https://github.com/fastify/fastify-swagger/issues/47
perhaps it can help you to figure out the problem.

[2020-07-29 14:06] caryhgq commented on #77
Thank you very much

[2020-08-05 08:19] JSteunou opened #78 "Compute TypeScript type"
## 🚀 Feature Proposal

A clear and concise description of what the feature is.

I think it will be possible and convenient to add a way to expose the TypeScript type of each object schema

## Motivation

I started, like the doc of fastify suggest, to use `fluent-schema` (which is awesome!) and `json-schema-to-typescript` to generate types... in separate files.

Also this method could be ok for tho

[2020-08-05 08:29] mcollina commented on #78
I think this is __hard__ to do, but maybe it got easier!

An alternative approach is https://github.com/sinclairzx81/typebox!

[2020-08-05 09:11] JSteunou commented on #78
I think it depends if you wanna be full JSON Schema compliant. `$ref` might be the most difficult point to solve because it can be async.

I will try *typebox*, sounds nice. I also discover https://github.com/keplr-team/typed-ajv which has the same approach than *typebox*. The trick is to define types of each function helper which define properties.

[2020-08-05 13:21] #77 closed

[2020-08-05 13:39] aboutlo commented on #78
It's an interesting feature, not sure how to tackle it. I have the feeling we need to bring an important part of the codebase in Typescript to deliver this. However, currently, I haven't bandwidth. But you are welcome to open a PR even with just as POC so we can maybe figure out the approach.

[2020-08-05 14:05] JSteunou commented on #78
Another example, for the record, that could help to build this feature, using TypeScript Conditional Types https://medium.com/@tiagosemoh/typescript-advanced-types-b17ad54a831e

This is the base of this library https://github.com/TCMiranda/joi-extract-type which seems very underestimated

I dunno if I would have the time to write a POC, having a bandwidth also very full :( So I share any resource

[2020-08-06 10:32] gc commented on #78
Thank you so much for sharing typebox, I had the exact same issue in fluent-schema and typebox seems perfect.

Here's some example code for fastify if it helps anyone:

[code]

[2020-08-06 21:50] aboutlo commented on #78
We could learn something from TypeBox. It has an interesting approach.
However  fluent-schema starts from JSON Schema not Typescript.

On Thu, 6 Aug 2020 at 12:33, GC <notifications@github.com> wrote:

--
Sent from mobile phone

[2020-09-21 08:23] climba03003 opened #79 "extend api wrong typings"
## 🐛 Bug Report

After the Schema extend other Schema, some of the api will be missing.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[code]

## Your Environment

- *node version*: 14
- *fastify version*: >=2.0.0
- *os*: Linux
- *any other relevant information*

[2020-09-21 10:13] climba03003 commented on #79
After digging into the closed issue. I can see that this behavior is made on purpose.
Related Issue https://github.com/fastify/fluent-schema/pull/69 and https://github.com/fastify/fluent-schema/issues/75

However, I think it should allow the ```required``` api after the ```extend```.
The main reason is that I think most of the people need the required attributes after extend multiple schema.

[2020-09-21 10:54] aboutlo commented on #79
[code]

You can't require before the `extend`.

[code]

[2020-09-21 14:31] climba03003 commented on #79
It just inconvenient for the user to remember all work need to be done before ```extend```.
Another thing is the typescript typing is wrong for ```extend```. Therefore, I have ```require``` can be done after ```extend```.
The typing should be fixed ASAP.

[2020-09-21 15:22] aboutlo commented on #79
Feel free to open a MR ASAP to improve the types

On Mon, 21 Sep 2020 at 15:31, climba03003 <notifications@github.com> wrote:

Sent from mobile phone

[2020-09-22 13:19] #79 closed

[2020-11-22 08:58] RishabhJain96 commented on #78
With Typescript 4.1, it might be possible to generate a typescript model from the JSON schema. If people are interested, check out this library (still in beta): https://github.com/RishabhJain96/json-schema-type

(Comment copied from https://github.com/fastify/fastify/issues/1668)

[2020-12-01 16:46] jillesme opened #84 "Get "some" properties from schema (easier than ref/id)"
## 🚀 Feature Proposal

v0.1 - just an idea, hoping to get some feedback.

Get Fluent Schema properties from another Fluent Schema to re-use in other schemas. This way you could build schemas easily from existing schemas.

I realize that with `extend` and `$id, $ref`, this is possible. However, I ended up with a `schema.js` file which had a lot of properties defined which I would then use all over

[2020-12-01 19:04] mcollina commented on #84
This is really nice!

[2020-12-05 10:53] zzisu opened #86 "ObjectSchema.required without parameters wrongly set the last prop as required"
## 🐛 Bug Report

`ObjectSchema.required()` should add itself as a required property to its parent.
However, calling it will wrongly make the last prop defined as required

## To Reproduce

Steps to reproduce the behavior:

[code]

will output:
[code]

## Expected behavior
[code]

## Your Environment

- *node version*: 14
- *fastify version*: >=2.0.0
- *os*: Windows

[2020-12-05 11:01] mcollina commented on #86
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-12-05 11:19] zzisu commented on #86
I've seen this in fluent-schema's code:
https://github.com/fastify/fluent-schema/blob/b5a5c80334529a2febcc4b3a54b35f5680752e3a/src/BaseSchema.js#L180
[code]
But in the README.md it's used like this:
[code]

I'm wondering which one is correct?

[2020-12-05 14:08] aboutlo commented on #86
The correct schema is:
[code]

If you put `required()` after a property definition it's attached to the last property declared ( `comment` in this case )

The README is correct because in the case of the `String.format('EMAIL').required()` there isn't a property so we attach `required` to the root element.

Given that I agree the README is a bit misleading perhaps we could put `String.required().f

[2020-12-06 09:30] zzisu commented on #86
Thanks very much! I'll close this issue now.

[2020-12-06 09:30] #86 closed

[2020-12-09 19:22] jillesme commented on #84
Merged, thanks y'all!

[2020-12-09 19:22] #84 closed

[2020-12-18 20:59] aboutlo opened #87 "Rename fluent-schema to fluent-json-schema"
##. Rename fluent-schema to fluent-json-schema

Rename `fluent-schema` to `fluent-json-schema`

## Motivation

To foster discoverability of the package via npmjs.com and search engines in general. I believe it would help to have JSON directly in the name aka `fluent-json-schema`

## Example

`npm install fluent-json-schema`

[2020-12-18 22:00] mcollina commented on #87
Can you send a PR to update fastify as well? We use this in tests and docs.

[2020-12-18 22:00] mcollina commented on #87
You'd also need to deprecate the previous package.

[2020-12-20 13:51] aboutlo commented on #87
@mcollina I deprecated the previous packages.
Can you rename the current repo name to `fluent-json-schema`? 🙏

[2020-12-20 15:26] mcollina commented on #87
done

[2020-12-20 15:54] mcollina commented on #87
there seem to be a reference to fluid-schema somewhere.

[2020-12-20 16:24] aboutlo commented on #87
@mcollina I fixed a couple of them. One bad typescript wise https://github.com/fastify/fluent-json-schema/pull/89.  Do you see anything else missing?

[2020-12-23 16:49] #87 closed

[2021-01-27 02:11] calebboyd commented on #78
Some other prior art for types w/ fluent builder

https://github.com/sberan/typed-json-schema/tree/next

[2021-01-28 08:17] #28 closed

[2021-01-30 18:07] cyberwombat opened #102 "Unable to use allOf/anyOf/oneOf"
## 🐛 Bug Report

If I use `allOf/anyOf/oneOf` as part of `S.object()` the final output drops `"type": "object"` from the schema resulting in errors such as: `strict mode: missing type "object" for keyword "maxProperties" at "#/properties/definition" (strictTypes)`

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

A clear and concise description of what you expected

[2021-01-30 18:50] mcollina commented on #102
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-01-31 03:42] cyberwombat commented on #102
My bad. I didn't place the `allOf` statement correctly.

[2021-01-31 03:42] #102 closed

[2021-02-12 15:59] giovanni-bertoncelli opened #106 "additionalProperties() unexpected behaviour depending on definition order"
## 🐛 Bug Report
`additionalProperties()` changes behaviour depending on where it is positioned in the schema definition.
For example putting `additionalProperties()`after a `prop()` statement causes the prop to get the `additionalProperties` configuration instead of the root object.

## To Reproduce

Steps to reproduce the behavior:

[code]

Results in:

[code]

While this:

[code]

Results in:

[

[2021-02-12 17:20] aboutlo commented on #106
This is expected. Any element declared after a `prop` is assigned to it, not to the root.
So the correct syntax is:
[code]

the idea was that you

[2021-02-12 18:36] #106 closed

[2021-02-16 09:18] kukinsula opened #108 "TS Multiple successive .extend"
## 💥 Regression Report

I am unable to compile my TS fluent schemas with two successive .extend.

## Last working version

Worked up to version: 1.0.4
Stopped working in version: 2.0.3

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I was expecting to be able to extend successively fluent schemas.

It made me wonder if this is possible to extend schemas this way.

[2021-02-16 11:14] climba03003 commented on #108
The major problem is `ObjectSchema` is not compatible with `ExtendedSchema`.
You can `.extend` multiple `ObjectSchema` but not a single `ExtendedSchema`.

Anyway, this is the bug I introduced for fixing the types in #80 which is `1.0.5`.
I will fix it with #109.

[2021-02-16 14:45] #108 closed

[2021-02-18 19:23] Coobaha commented on #78
Hi! please also check https://github.com/Coobaha/typed-fastify  - very alpha release but works nicely :)

**It requires TS ^4.2** and provides strongly typed handlers against defined schema and runtime validations by using generated json schema from types. It enforces developer to respond with status, headers and payload that are matching schema.

Small demo:

https://user-images.githubusercontent

[2021-03-03 17:00] MikeYermolayev commented on #78
Was thinking about using https://github.com/ThomasAribart/json-schema-to-ts but TypeBox seems a bit nicer option here since it gives concise API and all the autocompletes

[2021-03-23 09:43] boyander opened #114 "Duplicate `required()` generates invalid schema"
## 🐛 Bug Report

Calling `required()` twice on same prop duplicates key in `required` schema array `required:[<prop>,<prop>]` generating an invalid schema.

## To Reproduce

Steps to reproduce the behavior:

[code]

causes invalid schema with duplicate `prop` in `required` array
[code]

https://replit.com/@boyander/duplicatedrequiredprop

## Expected behavior

Either throw an error if using `requi

[2021-03-23 09:44] mcollina commented on #114
We are glad you like it!

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-03-24 00:24] boyander commented on #114
Sure! Will work on it this weekend ☀️

[2021-04-09 11:25] #114 closed

[2021-04-21 12:59] MomenNano opened #119 "There is no tags function"
There is no tags function `S.tags()`

I don't know if it's added in the latest draft or it can be added in the current draft (7)
## Motivation
I want to integrate it with fastify-swagger so I can make sections using those tags

## Example
[code]

[2021-04-21 13:15] aboutlo commented on #119
perhaps you can use `S.raw({tags:  ["user"], })`  https://github.com/fastify/fluent-json-schema/blob/master/docs/API.md#raw

[2021-04-21 14:31] MomenNano commented on #119
Thanks for the fast reply.

It turns out that it just needed to be declared outside the body and response, like

[code]

[2021-04-21 14:31] #119 closed

[2021-04-27 06:17] svile opened #121 "Forward slashes are ignored when specifying string pattern"
## 🐛 Bug Report

It seems that in attempts to auto escape the regex for json compatibility the library strips out (or ignores) escaped `/`

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Forward slashes should also be escaped.

[code]

## Your Environment

- *node version*: v14.16.1
- *fluent-json-schema*: 2.0.4
- *os*: Mac

[2021-04-27 09:40] aboutlo commented on #121
Thank you @svile to report this.

Would you like to open a PR to fix it?
You can add the test case here: https://github.com/fastify/fluent-json-schema/blob/master/src/StringSchema.test.js#L97

[2021-04-27 10:40] svile commented on #121
Actually, looks like I'll have some spare time today, so I'll take it.

[2021-04-29 10:41] climba03003 commented on #121
I think the current behavior is correct. We should remove the starting forward slash and the ending forward slash when you are using pattern.

[IETF Reference](https://tools.ietf.org/id/draft-handrews-json-schema-validation-01.html#rfc.section.6.3.3)
[JSON Schema](https://json-schema.org/understanding-json-schema/reference/regular_expressions.html#example)

[2021-05-02 18:56] erfanium opened #124 "All props should be required by default"
Any app should be secure by default, Forget to make a field optional is not a security bug, but forget to make a field required is a security bug.

Any comments?

[2021-05-02 20:07] mcollina commented on #124
This library aims to be a low-friction way to create JSON schema documents. In JSON schema, you have to mark a property as required and not vice versa. I think this would be too much of a breaking change from the spec.

If you would like to change that, I'd recommend you to bring this discussion to the committee designing JSON schema.

[2021-05-07 19:49] erfanium commented on #124
That change does not seem to be possible on JSON schema design, Mainly because it's too breaking.
But I still think this change can be applied in `fluent-json-schema`. Maybe it would be better to talk more about this. And feel free to close this issue. I have nothing new to add
Thanks!

[2021-05-07 20:10] #124 closed

[2021-05-07 20:10] mcollina commented on #124
Thanks for the interesting discussion.

[2021-05-08 12:36] aboutlo commented on #121
resolved by #122

[2021-05-08 12:36] #121 closed

[2021-05-18 18:19] maxvanceffer opened #128 ".id and .required not returning schema object"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

^3.4.1

### Node.js version

14

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

Big Sur 11.3.1

### Description

While building schema and calling .id or .required, and after that trying to add so

[2021-05-21 13:31] denisdifazio opened #129 ".raw({ nullable: true }) being inserted in the wrong position"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.6

### Node.js version

12

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

20H2

### Description

fluent-json-schema version: `3.0.0`

When using .`raw({ nullable: true })` with a type object

[2021-05-21 16:27] aboutlo commented on #129
This is happening because of the way you declare the schema:

[code]

the  `.raw({ nulllable: true })` is attached to the last entity. In this case `productType` property.

try this instead:

[code]

I prefer to keep everything inside the property so it's "atomic"

[code]

[2021-05-21 17:12] denisdifazio commented on #129
Thanks for the tips @aboutlo !

But when I try the way you described I got an error `Property 'required' does not exist on type 'JSONSchema'.` on the `.required()` line as shown below:

![image](https://user-images.githubusercontent.com/11673757/119174024-7181c200-ba3e-11eb-8044-0b35e86653a8.png)

[2021-05-26 18:05] aboutlo commented on #129
hey, @denisdifazio this is an issue with the Typescript types.
Both the suggestions works: https://runkit.com/embed/yssc1vta8xfc

so if you want to fix you can open a PR and change this file:
https://github.com/fastify/fluent-json-schema/blob/master/src/FluentJSONSchema.d.ts

[2021-05-26 22:18] aboutlo commented on #128
the syntax is wrong, have a look here: https://github.com/fastify/fluent-json-schema#usage

it  should be:

[code]

[2021-05-29 10:20] erfanium opened #132 "Root level `required` creates invalid schema"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.0.0

### Plugin version

3.0.0

### Node.js version

16.2.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

18.04

### Description

I think root level required calls should be ignored, because i

[2021-05-29 10:39] erfanium commented on #132
One possible solution is to separate internal-use and external-use of `valueOf` method by creating a new method like `_valueOf` for internal use.

I can make a PR with this solution

[2021-05-31 11:23] aboutlo commented on #132
hey, @erfanium thank you for raising this. Not sure about the solution, to me is a misusage of the DSL.  In the end, the AJV compiler will raise the problem. I'm not a big fan of splitting the implementations from internal and external usage.
Perhaps we could just throw an exception if `required()` is invoked at the root level.

[2021-05-31 12:22] mcollina commented on #132
I think that'd be a good idea!

[2021-05-31 13:15] erfanium commented on #132
How to detect root level `required()`?

[2021-05-31 14:12] mcollina commented on #132
You can only detect it when `.valueOf()` is called.

[2021-05-31 14:14] aboutlo commented on #132
Good question, the problem is that we could have:
[code]

Even adding a flag `root:true` here https://github.com/fastify/fluent-json-schema/blob/master/src/BaseSchema.js#L17 doesn't help that much because we resolve each schema independently

so it seems we can't do it when we invoke `required()` but only later via `valueOf`

[2021-05-31 14:19] erfanium commented on #132
Also `valueOf` has some internal usage. it will call multiple times per schema

[2021-05-31 14:34] mcollina commented on #132
You can detect you are "within" a parent `valueOf` via an option param, or using a private method `_valueOf` for the recursion.

[2021-06-08 09:56] StarpTech opened #135 "Support "dependentrequired" and "dependentSchemas""
## 🚀 Feature Proposal

As titled. The keywords are part of draft-7 https://json-schema.org/draft/2019-09/release-notes.html

## Motivation

"dependencies" keyword has been deprecated.

## Example

- https://ajv.js.org/json-schema.html#dependentschemas
- https://ajv.js.org/json-schema.html#dependentrequired

[2021-06-08 12:46] mcollina commented on #135
This would be nice to have

[2021-06-18 10:10] #132 closed

[2021-07-05 03:57] joaopedrocampos commented on #129
@aboutlo hey, if still up to, I would love to take this fix. Just a question, never did any changes on Typescript types, so it's needed to add a schema on the `index.ts` file to guarantee that this is covered? (Maybe a schema like the one of this issue, just with more generic fields)

[2021-07-05 08:30] aboutlo commented on #129
nice! yes, it's still an open issue.
Correct you have to use a `.raw` in the index.ts to check it compiles correctly. Not sure it worth adding a new schema perhaps just add the property but if it's easier to check multiple scenarios it's o.k

[2021-07-06 16:59] joaopedrocampos commented on #135
Hey! If possible I would love to do this feature 🙏

[2021-07-06 17:51] aboutlo commented on #135
go for it @joaopedrocampos!

[2021-07-10 18:07] joaopedrocampos commented on #135
Hey @aboutlo! Do you think this issue should be closed now? I tried to assign it on the PR to close it automatically on the PR  merge, but did not had permission to do it

[2021-07-10 18:07] joaopedrocampos commented on #129
Hey @aboutlo! Do you think this issue should be closed now? I tried to assign it on the PR to close it automatically on the PR  merge, but did not had permission to do it

[2021-07-10 18:13] StarpTech commented on #135
@joaopedrocampos thanks! I'll close it.

[2021-07-10 18:13] #135 closed

[2021-07-11 06:36] #129 closed

[2021-12-03 08:33] DamienGarrido opened #156 "Support JSON Schema 2019-09 deprecated value"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Add support to deprecated values as stated in the [JSON Schema 2019-09](https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.9.3) paragraph.

### Motivation

Be able to deprecate properties wit

[2021-12-03 14:38] Eomm commented on #156
Would you like to send a Pull Request to address this feature? Remember to add unit tests.

[2021-12-03 16:03] aboutlo commented on #156
the actual syntax: `S.object().prop('myDeprecatedProperty', S.string().deprecated());`

[2022-01-12 04:44] victortostes-hotmart commented on #156
I tried to address it on #161 but I'm not sure about handling this property inheritance.

Should array properties with a single schema item inherit 'deprecated' property?

Which one should resolve?
[code]
Is the same valid for single property objects?
Any ideas on this?

[2022-01-14 17:50] Eomm commented on #156
I think the latter is right and the former is not: `items` may contain an array and you may want to deprecate just one type.

[2022-03-02 15:45] ukocaman opened #167 "npm package does not match github repo"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Package installed via npm does not include the "without" function. It seems like that npm package does not match the github repo.
[code]

[2022-03-02 19:46] aboutlo commented on #167
True, I will deploy the latest later this evening

On Wed, 2 Mar 2022 at 15:45, Utku K ***@***.***> wrote:

--
Sent from mobile phone

[2022-03-02 20:14] ukocaman commented on #167
Thank you very much 🙏

[2022-03-02 22:29] aboutlo commented on #167
@ukocaman done :)

[2022-03-02 22:29] #167 closed

[2022-05-19 16:50] arquadrado opened #171 "additionalProperties schemas causing unexpected behavior when passed to oneOf"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.25.1

### Plugin version

3.0.1

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

I have a patch endpoint which can receive one of two payload

[2022-05-22 21:29] aboutlo commented on #171
I'm not sure I got what you mean, but I feel it's more likely a wrong usage of the concatenation rather than a bug.

Are you sure of the second schema? It could be that rather than your version, you should have:
[code]

If you still feel it's an issue of `fluent-json-schema` try to print the schema and compare it to what it should look like. If the expected schema is different to the target one th

[2022-05-23 08:10] arquadrado commented on #171
@aboutlo I did that already and the schemas are what they are supposed to be.

[2022-06-17 04:38] dheerajsinghnagdali opened #175 "How we can omit fields from request body that is not defined in the schema."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0

### Plugin version

3.1.0

### Node.js version

16.15.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows 10 home

### Description

How we can omit fields from the request body

[2022-06-17 05:05] #175 closed

[2022-06-17 05:05] dheerajsinghnagdali commented on #175
My bad

[2022-06-24 15:29] alifuma92 opened #176 ".string() method validate all type values"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.1.0

### Plugin version

3.1.0

### Node.js version

16.14.12

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

Monterey

### Description

i try to validate my body prop "name" as a required

[2022-06-25 09:06] Eomm commented on #176
It is not because the value is coerced.

https://github.com/fastify/fastify/blob/main/docs/Reference/Validation-and-Serialization.md#validation

Try:

[code]

[2022-07-03 07:49] AnwerAR opened #177 "`only` method is not working as expected"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

3.1.0

### Node.js version

17.8.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.1

### Description

Creating multiple schemas out of existing one using the `o

[2022-07-03 10:04] Eomm commented on #177
It is not a fluent schema issue.
To fix it just remove the `.id()` initialization.

Moving this issue to fastify as it should not start when there are duplicated ids in the same context.

Reproducible snippet:

[code]

[2022-08-22 16:04] Uzlopak opened #188 "100 % code coverage"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

It would be good to have 100% test coverage.

If we merge https://github.com/fastify/fluent-json-schema/pull/178 then we have only one branch left to cover.

https://github.com/fastify/fluent-json-schema/blob/b9c32d08a

[2022-08-25 13:15] aboutlo commented on #176
Not related to fluent-json-schema

[2022-08-25 13:15] #176 closed

[2022-08-25 13:16] aboutlo commented on #171
not related to fluent-json-schema

[2022-08-25 13:16] #171 closed

[2022-08-25 13:21] aboutlo commented on #188
@Uzlopak we did merge #178 :)

I wrote that line a few years ago intentionally, but I can't remember the actual reason :) You could be right; the simplest would be to try to remove it and see if we got any red tests. Perhaps, it was driven by a wrong assumption

[2022-08-30 08:32] #188 closed

[2022-09-15 05:53] Eomm opened #193 "Set $id after clone"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Given an origin flunet-json-schema object filtered with `only/without` it is not possible to set the BaseSchema's `$id`:

[code]

Shows:

[code]

I can't find a way to set the `"$id": "whizbang"` field.

Ref https://github.com/fastify/f

[2022-09-19 20:22] zrosenbauer commented on #193
@Eomm instead of resetting the ID would it make sense to just omit it? I'm not sure it should even reference the $id at this point...

.only & .without are state mutations that invalidate the ref aka should compose new objects not mutate the old?

[2022-09-19 21:35] esatterwhite commented on #193
It would need to be both. It would need to omit the id by default, and allow you to set it in the correct location of the schema

[2022-09-19 22:51] zrosenbauer commented on #193
I'm happy to open up a PR handling both if @Eomm or other core folks (@fastify/plugins) thinks it make sense.

[2022-09-20 06:39] Eomm commented on #193
Yes, I agree:

- remove it by default
- allow to set it again by calling `.id()`

Note that this would be a breaking change

[2022-09-23 15:14] esatterwhite commented on #193
The problem is rooted in the use of `setAttribute` of BaseSchema

https://github.com/fastify/fluent-json-schema/blob/490c24d577221038c21403564c8d0248466f7570/src/utils.js#L188-L195

Once an object has properties, all things are added to its properties rather than the root of the schema. this doesn't seem too hard to fix

[2022-10-03 21:40] aboutlo commented on #193
resolved by #195

[2022-10-03 21:40] #193 closed

[2022-10-10 12:19] JorisCodePeople opened #197 "Conditional property is not allowed when using additionalProperties(false)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

?

### Plugin version

3.1.0

### Node.js version

16.17.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

When I declare a conditional property on an object that has a

[2022-10-15 19:24] cyberwombat opened #198 "Unable to import in TS project with "moduleResolution": "NodeNext","
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

NA

### Plugin version

4.0.0

### Node.js version

16.17

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

I am updating my TS code to use ESM which requires having `"mo

[2022-10-24 19:04] schubboy commented on #197
I believe this behavior is correct, as I read that this is the purpose of the "unevaluatedProperties: true|false" setting.  Doc Link](https://json-schema.org/understanding-json-schema/reference/object.html#unevaluated-properties)

[2022-10-25 12:04] JorisCodePeople commented on #197
Aah, you seem to be correct. Is this functionality supported in this plugin? I can't seem to find it in the docs.

[2022-10-27 04:04] cesarvspr commented on #198
Potentially fixed in https://github.com/fastify/fluent-json-schema/pull/199

[2022-10-28 11:51] aboutlo commented on #198
@cyberwombat can you test it with #199 fixes?

[2022-10-28 15:03] cyberwombat commented on #198
I think still an issue, additionally it looks like `ExtendedSchema` is not exported anymore.  Heres a screenshot of errors in VSCode with 199.

<img width="927" alt="Screen Shot 2022-10-28 at 8 02 32 AM" src="https://user-images.githubusercontent.com/777498/198666069-1dc33203-cba9-4f06-a02c-bc1920ea9d89.png">

Here's my tsconfig:
[code]
TS: 4.8.4

[2022-10-28 15:10] cesarvspr commented on #198
Fixed in the last commit, please check if you find other issues

[2022-10-28 15:33] cyberwombat commented on #198
That fixed the `ExtendedSchema` but I am still having original issue with needed to use `.default`

[2022-10-28 16:40] cesarvspr commented on #198
@cyberwombat

I was able to use you provided tsconfig.json file and my own which is

[code]

here you can see my test:
[minimal_project.zip](https://github.com/fastify/fluent-json-schema/files/9890307/minimal_project.zip)

[2022-10-29 04:54] cyberwombat commented on #198
You need `"type":"module"` in `package.json` as well for ESM. It fails then.

[2022-10-30 05:03] cesarvspr commented on #198
you are right @cyberwombat, but I could not find a solution for this specific case yet.

Btw, why are you using the ` "type":"module"`?

[2022-10-30 13:42] cyberwombat commented on #198
I am migrating to 100% esm and that's part of the jump. If I don't then my code stays CJS when imported.  I don't know of a solution except to build as both esm and cjs and using the `exporrts` field in package.json od doing the full esm jump as many packages are doing. I heard there is a wrapper out there that can be used to help male the transition but I think it still requires a build output th

[2022-11-20 18:05] cesarvspr commented on #198
@climba03003 Would you please help with this? I have a[ PR ready](https://github.com/fastify/fluent-json-schema/pull/199) that just needs to work when we have "type":"module" on the package.json